$bg-grey1: #ebf0f2;
$text: #454a4c;
$icon: #829199;

// Asigning those colors to elements for semantic reasons and to easily define new themes.

// 1. Element States



// 2. Topbar
// $topbarShade1: $greyDarker;
// $topbarShade2: $greyDark;
// $topbarShade3: $greyLight;
// $topbarShade4: $greyLighter;

